!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap-responsive.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'styles.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster|Lekton', :rel => 'stylesheet', :type =>'text/css' }
    %title Nick Canzoneri | Software Engineer

  %body
    .container
      .row
        .span12.acenter
          %h1 Nick Canzoneri

      .row
        .span12.acenter
          %h2 Software Engineer

      .row
        .span8.offset3.bodytext
          :markdown
            Hi, I'm Nick.

            I write software in [Philadelphia](http://www.phila.gov). I attended [Drexel](http://www.drexel.edu) for Computer Science. I've worked at [DVRPC](http://www.dvrpc.org) (a regional planning organization), [Algorithmics](http://www.algorithmics.com) (a financial software company) and I now work at [IBM](http://www.ibm.com).

