!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap-responsive.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'styles.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Lekton', :rel => 'stylesheet', :type =>'text/css' }
    %title Nick Canzoneri | Software Engineer

  %body
    .container
      .row
        .span12.acenter
          %h1 Nick Canzoneri

      .row
        .span12.acenter
          %h2 Software Engineer

      .row
        .span6.offset3
          :markdown
            ###Hi

            I'm Nick.

            I write software in [Philadelphia](http://www.phila.gov). I attended [Drexel](http://www.drexel.edu) for Computer Science. I've worked at [DVRPC](http://www.dvrpc.org) (a regional planning organization), [Algorithmics](http://www.algorithmics.com) (a financial software company) which was bought by [IBM](http://www.ibm.com). I worked at [Relay Network](http://www.relaynetwork.com/), a startup changing the way people communicate with business using Clojure. Now, I work at [Wildbit](http://www.wildbit.com) on [Postmark](http://www.postmarkapp.com), which is an API for transactional email.

            ### Find me at

            [Github nickcanz](http://www.github.com/nickcanz)

            [Twitter @nick_canz](http://www.twitter.com/nick_canz)

            [stackoverflow](http://stackoverflow.com/users/282975/nick-canzoneri)

            Feel free to contact me at: <hi@nickcanzoneri.com>

            ### Some Projects

            #### [Punchcard](https://punchcard.io)

            I've been helping my friend Aaron Feng with his project Punchcard. The basic idea is that going to user groups take a lot of time and are a general hassle in your schedule but show that you are dedicated to improving yourself. Going to user groups should count. Punchcard aims to be part of your resume showing off your user group credentials.

            #### [The Other Philadelphia](http://www.theotherphiladelphia.org)

            This project was built on 25 Feb for [Code Across America Hackathon](http://technicallyphilly.com/2012/02/27/mayor-michael-nutter-visits-code-across-america-civic-hackathon-lobbying-ph-wins-first-place) run by the folks at [Code for America](http://codeforamerica.org/). The idea for the project was to make particular statistics about Philadelphia (unemployment, poverty etc) more *real* for people who aren't familiar with those stats. The site takes a random sampling of your Facebook friends and "tags" them with "Unemployed" or "High School Dropout" to make that data really hit home.

      .row
        .span6.offset3.smaller.acenter
          :markdown
            Colors used from Ethan Schoonover's awesome [Solarized color theme](http://ethanschoonover.com/solarized).
