!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap-responsive.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'styles.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Lekton', :rel => 'stylesheet', :type =>'text/css' }
    %title Nick Canzoneri | Software Engineer

  %body
    .container
      .row
        .span12.acenter
          %h1 Nick Canzoneri

      .row
        .span12.acenter
          %h2 Software Engineer

      .row
        .span6.offset3
          :markdown
            ###Hi

            I'm Nick.

            I write software in [Philadelphia](http://www.phila.gov). I attended [Drexel](http://www.drexel.edu) for Computer Science. I've worked at [DVRPC](http://www.dvrpc.org) (a regional planning organization), [Algorithmics](http://www.algorithmics.com) (a financial software company) and I now work at [IBM](http://www.ibm.com).

            ### Find me at

            [Github nickcanz](http://www.github.com/nickcanz)

            [Twitter @nick_canz](http://www.twitter.com/nick_canz)

            [stackoverflow](http://stackoverflow.com/users/282975/nick-canzoneri)

            Feel free to contact me at: <canzoneri.nicholas@gmail.com>

            ### Some Projects

            #### [How about that weather?](http://howaboutthatweather.heroku.com)

            Everyone has a weather app, right? This project was something to use a little more ruby and uses the [Foundation framework](http://foundation.zurb.com/) from Zurb for responsive web design. The code is located at [Github](https://github.com/ac3522/howaboutthatweather).

            #### [The Other Philadelphia](http://www.theotherphiladelphia.org)

            This project was built on 25 Feb for [Code Across America Hackathon](http://technicallyphilly.com/2012/02/27/mayor-michael-nutter-visits-code-across-america-civic-hackathon-lobbying-ph-wins-first-place) run by the folks at [Code for America](http://codeforamerica.org/). The idea for the project was to make particular statistics about Philadelphia (unemployment, poverty etc) more *real* for people who aren't familiar with those stats. The site takes a random sampling of your Facebook friends and "tags" them with "Unemployed" or "High School Dropout" to make that data really hit home.

      .row
        .span6.offset3.smaller.acenter
          :markdown
            Colors used from Ethan Schoonover's awesome [Solarized color theme](http://ethanschoonover.com/solarized).
