!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap-responsive.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'styles.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster|Lekton', :rel => 'stylesheet', :type =>'text/css' }
    %title Nick Canzoneri | Software Engineer

  %body
    .container
      .row
        .span12
          %h1 Nick Canzoneri

      .row
        .span12
          %h2 Software Engineer in Philadelphia
