!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'bootstrap-responsive.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'styles.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster|Lekton', :rel => 'stylesheet', :type =>'text/css' }
    %title Nick Canzoneri | Software Engineer

  %body
    .container
      .row
        .span12.acenter
          %h1 Nick Canzoneri

      .row
        .span12.acenter
          %h2 Software Engineer

      .row
        .span6.offset3
          :markdown
            Hi, I'm Nick.

            I write software in [Philadelphia](http://www.phila.gov). I attended [Drexel](http://www.drexel.edu) for Computer Science. I've worked at [DVRPC](http://www.dvrpc.org) (a regional planning organization), [Algorithmics](http://www.algorithmics.com) (a financial software company) and I now work at [IBM](http://www.ibm.com).

            ### Find me at:

            [Github](http://www.github.com/ac3522)

            [Twitter @ac3522](http://www.twitter.com/ac3522)

            [stackoverflow](http://stackoverflow.com/users/282975/nick-canzoneri)

            Feel free to contact me at: <canzoneri.nicholas@gmail.com>

      .row
        .span6.offset3.smaller.acenter
          :markdown
            Colors used from Ethan Schoonover's awesome [Solarized color theme](http://ethanschoonover.com/solarized).
